h1 {
    font-family: 'Kalam', Arial;
    text-align: center;
}

p {font-family: 'Kalam', Arial;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #d3d3d3;
    overflow: hidden;
    margin: 50px;
    padding: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: 'Kalam', Arial;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all .3s ease-in;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #B6BEC1;
    color: black;
    transition: all .3s ease-in;

}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0084B4;
    color: white;
}
